# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.tmp
*.temp
*.orig

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/vcs.xml

# VS Code related
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/flutter_export_environment.sh
flutter_*.png

# Firebase related
# Exclude Firebase configuration files for security reasons
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.firebase/hosting.cHVibGlj.cache
firebase.json
firestore.indexes.json
firestore.rules
storage.rules

# Web related
lib/generated_plugin_registrant.dart
/web/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio/Gradle related
**/android/**/gradle-wrapper.jar
android/.gradle/
android/.idea/
android/local.properties
android/gradle.properties
android/**/build/
android/**/captures/
gradle-app.setting
gradlew
gradlew.bat

# Android specific
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/debug/
android/app/src/profile/
android/app/src/release/
android/key.properties
*.keystore

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Runner.xcconfig

# macOS specific
macos/.gitignore
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner.xcodeproj/
macos/Runner.xcworkspace/
macos/Runner/Configs/
macos/Runner/MainFlutterWindow.swift

# Linux related
linux/.gitignore
linux/flutter/
linux/my_application.*

# Windows related
windows/.gitignore
windows/flutter/
windows/runner/

# CI/CD related
.ci/
.ci/**

# Coverage related
coverage/
.lcov

# Package managers
node_modules/
package-lock.json
yarn.lock

# JetBrains IDE specific
*.iml
.idea/
out/
.idea_modules/

# Logs and databases
*.log
*.sqlite

# Images generated by Flutter tests
*.png

# Generated files from Android or iOS builds
app-release.apk
app-release.aab
app-release.ipa

# ProGuard
proguard/
proguard/*.txt
proguard/*.pro
proguard/mapping.txt

# Lock Files (avoid committing lock files from various tools)
*.lock
*.lock.json
